# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log
crash.*.log

# Ignore terraform lock file
.terraform.lock.hcl

# Ignore the hidden terraform working directory
.terraform/


# ignore script folder
script/
