# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log
crash.*.log

# Ignore terraform lock file
.terraform.lock.hcl

# Ignore the hidden terraform working directory
.terraform/

# Ignore sensitive variable files 
*.tfvars
*.tfvars.json

# Ignore local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ignore script folder
script/
