apiVersion: v1
kind: Pod
metadata:
  name: jenkins
  namespace: jenkins
  labels:
    app: jenkins
spec:
  nodeSelector:
      eks: jenkins
  serviceAccountName: jenkins-sa
  securityContext:
    runAsUser: 1000
    fsGroup: 1000
  containers:
    - name: jenkins
      image: jenkins/jenkins:lts
      ports:
        - containerPort: 8080
        - containerPort: 50000
      volumeMounts:
        - name: jenkins-data
          mountPath: /var/jenkins_home
  volumes:
    - name: jenkins-data
      persistentVolumeClaim:
        claimName: jenkins-pvc
